    <div class="homepage_text">
        <h2> A Job Portal web application</h2>
        <p>
            Built using vbackend tools , express ,nodejs 
        </p>.getApplication<div class="cta-buttons">
            <!-- <button class="job-seeker-btn" href="/jobs">I'm a job seeker</button>
            <button class="recruiter-btn">I'm a recruiter</button> -->
            <a href="/jobs">i'm a job seekar</a>
            <a href="/jobs/applicants"> applicants Details</a>
        </div>
    </div>