<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Jobs</a>
            <a href="#">Recruiter</a>
    </nav>
    <div class="homepage_text">
        <h2> A Job Portal web application</h2>
        <p>
            Built using vbackend tools , express ,nodejs 
        </p>
    </div>
    <div class="cta-buttons">
        <button class="job-seeker-btn">I'm a job seeker</button>
        <button class="recruiter-btn">I'm a recruiter</button>
    </div>
    <!-- <h1>Hello, world!</h1> -->

  </body>
</html>