<% if(locals.lastVisit) { %>
<div class="alert alert-primary" role="alert">
    Your Last Visit was on : <%= locals.lastVisit %>
</div>
<% } %>

<div class="homepage_text">
        <h2> A Job Portal web application</h2>
        <p>
            Built using vbackend tools , express ,nodejs 
        </p>
        
        <div class="cta-buttons d-flex justify-content-between">
            <form action="/jobs" method="get">
                <button type="submit" class="btn btn-primary jobseeker">I'm a job seeker</button>
            </form>
            <form action="/register" method="get">
                <button type="submit" class="btn btn-primary recruiter">i'm a Rectuiter</button>
            </form>
        </div>
    </div>