.job-details {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    box-sizing: border-box;
}

.job-details h2 {
    color: #333;
}

.job-details p {
    margin: 5px 0;
}

.jobs-container {
    margin-top: 20px;
    display: flex;

    justify-content: space-between;
}

@media (max-width: 768px) {
    .job-details {
        width: calc(50% - 20px);
        box-sizing: border-box;
    }
}