body {
    background-color: rgb(51, 93, 93);
}

.navbar a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    margin-right: 20px;
    margin-left: 30px;
    font-size: 30px;
}

.navbar {
    margin-left: 50px;
}

.homepage_text {
    margin-top: 100px;
    margin-left: 200px;
}

.cta-buttons {
    margin-left: 200px;
}

.cta-buttons button {
    margin-top: 40px;
    font-size: large;
}